body {
    background-color: #fcea87;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #26aceb;
    font-family: cursive;
}
.section {
    background-color: #5499da;
    border: 2px solid #062229;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    width: 700px;
    box-sizing: border-box;
}

.section h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.favorite-section img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 50px auto;
}

.song {
    margin-bottom: 60px;
}

.song h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.song p {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.song audio {
    width: 300px;
}

.media {
    background-color: #7cc3e4;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    width: 320px;
    border-radius: 15px;
}

.video {
    background-color: #7cc3e4;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    width: 320px;
    border-radius: 15px;
}

.video h3 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.video p {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

.video video {
    width: 300px;
    height: 180px;
}